      html {
        font-family: 'Open Sans', sans-serif;
        background-image: url("earth.gif");
        color: #0b0b0b;
      }
      /*Start Fixed Layout CSS*/
      body {
        font:inherit;
        vertical-align: baseline;
        margin-right: auto;
        margin-left: auto;
        width: 960px;
        background-image: url("earth.gif");
        background-attachment: fixed;
      }
      h1 {
        margin-right: 10px;
        margin-left: 10px;
        width: 960px;
        text-align: center;
      }
      h2 {
        margin-right: 10px;
        margin-left: 10px;
        width: 960px;
        text-align: center;
      }
      /*Start images and media*/
      img{
        border-radius: 1em;
        max-width: 100%;
        height: auto;
        max-height: 20em;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
